<a href="https://colab.research.google.com/github/Padmaja27/Padmaja27/blob/main/LEARN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data types

In [ ]:
test = "hello" + "there"
type(test)
test ="hello"
type(test)

str

In [ ]:
word = "stupid"
print(type(word))
num = 1
sum = word + num
print(type(sum))

<class 'str'>

TypeError: ignored

Type casting (converting data types

In [ ]:
print(float(9)+100)
print(10/2)

109.0
5.0

In [ ]:
test = "123"
testin = int(test)
print(type(testin))
print(type(test))

<class 'int'>
<class 'str'>

In [ ]:
test = "whatupp"
testin = int(test)
print(type(testin))
print(type(test))

ValueError: ignored

entering input through user

In [ ]:
name = input("what is your name ")
print("welcome",name)

what is your name padmaja
welcome padmaja

In [ ]:
#coverting in to numbers
name = input("enter a number ")
Added = int(name)+12
print("added value", Added)

enter a number 457
added value 469

ASSIGNMENT quiz

In [ ]:
print(89.2)

89.2

In [ ]:
print("perfect plan b" + "123")

perfect plan b123

In [ ]:
j =4
j = j+4
print(j)

8

In [ ]:
i = 32%10
print(i)

2

In [ ]:
z = 1+3*2-8/4
print(z)

5.0

In [ ]:
x = int(89.7)
print(x)

89

In [ ]:
days = input("enter the days ")
rate = input("enter rate ")
totalpay = float(days) * float(rate) 
print("Total pay", totalpay)

enter the days 50
enter rate3.5
Total pay 175.0

if elif and else  conditions

In [ ]:
num = float(input("enter a number"))
if num>0:
 print("enterd number is positive")
elif num == 0:
 print("number is zero")
else:
  print("number is negative ", num)
print("the end ")

enter a number0
number is zero
the end

In [ ]:
num = 10
if num>10:
  print("numbe is greater than 10")
print(num)

10

Exception handling
try :
except:

In [ ]:
num = input("enter a number")
try:
  val = float(num)
  print("conversion is successful")
except:
  val = -1
if val>0:
  print("number is",val)
else:
  print("not a number")

enter a number-9.8
conversion is successful
not a number

Assignment quiz

In [ ]:
x = 7
if x==7:
  print("is 7")

is 7

In [ ]:
x = 0
if x<2:
  print('very small p2b')
elif x<10:
  print("small p2b")
else:
  print("not small p2b")
print("all done p2b")

very small p2b
all done p2b

In [ ]:
astr ="perfect plan B"
istr =0
try:
  istr =int(astr)
except:
  istr = -1

Assignment

In [ ]:
days = input("enter the days ")
rate = input("enter rate")
try:
  val = float(days)
  pig = float(rate)
  totalrate = val*pig
  print("total rate",totalrate)
except:
  print("please enter numeric number")

enter the days forty
enter rate220
please enter numeric number